@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    list-style-type: none;
    font-family: 'Poppins',sans-serif;
}
h6{
    font-weight: bold;
    font-size: 30px;
    color: #344767;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
form{
    display: flex;
    justify-content: space-evenly;
    padding: 50px 20px 50px 20px;
    font-size: 20px;
    background-image: linear-gradient(195deg, #EC407A 0%, #D81B60 100%);
    box-shadow: .1rem .3rem .2rem rgba(50, 50, 50, 0.735);
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 2%;
    margin-right: 2%;
    color: rgba(210, 210, 210, 0.87);
}
input{
    color: rgb(0, 0, 0);
    background-color: #ff9cbdbb;
    padding: 3px;
    border: none;
    font-size: 15px;
    cursor: pointer;
}
select{
    padding: 3px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    background-color: #ff9cbdbb;  
}
a{
    padding: 10px;
    border-radius: 10px;
    width: 3rem;
    text-align: center;
    font-size: 15px;
    background-color: #344767;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
}
button{
    padding: 10px;
    margin-right: 5px;
    border-radius: 10px;
    font-size: 15px;
    background-color: #344767;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.5s;
}
button:hover,
a:hover{
    background-color: #1c273b
}
.dates{
    text-align: center;
    padding-bottom: 10px;
    font-size: 10px;
}
.output{
    padding: 2%;
    display: flex;
    flex-direction: column;
}